//
// Header
//

#top-wrapper {
	height: 220px;
}

.header {
	position: relative;
	margin: 0 auto;
	padding: 22px 0 0 0;
	width: 960px;
	height: 130px; // + 56px;
	// @include transition(all 200ms linear);
	
	.pane--page-logo {
		position: absolute;
		top: 22px;
		//z-index: 10;
		min-width: 280px;
		max-height: 90px;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		border: 2px dotted #E6E6E6;

		img {
			max-height: 90px;
		}
	}

	.follow-links {
		// position: absolute;
		// top: 15px;
		// right: 0;
		float: right;
	}

	.mini-search-form {
		// position: absolute;
		// top: 60px;
		// right: 0;
		float: right;
	}
	
	.main-nav { 
		position: absolute;
		top: 160px;
		width: 100%;
	}
}
