//
// Layout
//

.l-page {
	position: relative;
}

// Main
.main {
	@include clearfix;
	padding: 2em 20px 4em;
	margin: 0 auto;
	width: 960px;
	border-left: 1px dotted #252525;
	border-right: 1px dotted #252525;
}

// Content
.content {
	min-height: 300px;
}
