//
// Product layout
//

body.node-type-csd-product .cs-basic-region__first {
	@include box-sizing(border-box);
	width: 55%;
	padding-right: 2%;
	margin-bottom: 3em;
	float: left;
}

// body.node-type-csd-product .panel-col-last,
body.node-type-csd-product .cs-basic-region__second {
	width: 45%;
	float: left;
	margin-bottom: 3em;
}

body.node-type-csd-product .cs-basic-region__third {
	width: 55%;
	padding-right: 2%;
	margin-bottom: 2em;
	float: left;
}

body.node-type-csd-product .cs-basic-region__fourth {
	width: 45%;
	margin-bottom: 2em;
	float: left;
}

body.node-type-csd-product .cs-basic-region__bottom {
	clear: both;
}