//
// Products list
//

.view-csd-products,
.view-csd-products.view-display-id-panel_pane_1,
.search-api-page-results .search-results {
	// width: $page-width;
	// margin-left: -20px;
	// margin-right: -20px;
	// padding: 0;
	// border-top: 1px solid #D8D8D8;

	.view-content {
		@include clearfix();
	}

	.node--csd-product--teaser {
		width: 33.33%;
		float: left;
		margin-bottom: 0;
		padding: 1em 20px;
	}
}
