//
// Products mini teaser list
//

.view-csd-most-popular-products,
.view-csd-related-products {
	@include clearfix;
	// margin-right: -$main-padding-right;
	// width: $page-width;
	// margin-left: -20px;
	// margin-right: -20px;
	// padding-left: 0px;
	// padding-right: 0px;
	// border-top: 1px solid #D8D8D8;
	// border-bottom: 1px solid #D8D8D8;

	ul {
		list-style: none;
		margin: 0 0 1em 0;
		padding: 0;
	}

	li {
		list-style: none;
		margin: 0;
		padding: 0;

		.node {
			// float: left;
			// width: 167px;
			// height: 200px;
			// margin-right: $main-padding-right;
			width: 20%;
			float: left;
			padding-left: 20px;
			padding-right: 20px;
			// border-right: 1px solid #D8D8D8;

		}
	}

	li:nth-child(6) {
		display: none;
	}
}
