//
// Breadcrumb
//

.breadcrumb {
	font-size: 13px;
	line-height: 1.2;
	color: #979797;
	list-style: none;
	padding: 0;
	margin: 0 0 1em 0;

	a {
		text-decoration: none;
		color: #979797;
	}
	a:hover {
		text-decoration: underline;
		color: $link-color;
	}

	ul {
		padding: 0;
		margin-right: 0;
	}

	li {
		list-style: none;
		padding: 0;
		margin: 0 10px 0 0;
	}
}


