//
// Product Btn Buy 
//

// Wrapper
%node-product-teaser-btn-buy-wrapper {
	position: absolute;
	position: absolute;
	top: 280px;
	right: 20px;
	// float: right;

	// bottom: 0;
	// width: 100%;
	// display: none;
}

%node-product-full-btn-buy-wrapper {
	// position: absolute;
	// bottom: 0;
	// width: 100%;
	// background: #F2F2F2;
	// padding: 20px;
	// float: left;
	width: 50%;
}

// Field
%node-product-btn-buy {
}

%node-product-teaser-btn-buy {
	// width: 100%;
}

%node-product-full-btn-buy {
	@extend .btn--large;
	// background: #168F39;
	// // width: 100%;
	// margin-bottom: 1em;
}
