//
// Product Image
//

// Wrapper
%node-product-image-wrapper {
}

// Field
%node-product-image {
	margin: 0 0 1em 0;

	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

%node-product-teaser-image {
}

%node-product-full-image {
}
