//
// Product Price
//

%node-product-price {
	font-family: $font-family-alt;
	font-weight: bold;
}

%node-product-teaser-price {
	display: block;
	font-size: 17px;
	line-height: 1.2em;
	border-top: 1px solid #353535;
	border-bottom: 1px solid #353535;
	padding: 8px 6px;
	margin: 0;

	position: absolute;
	top: 280px;
	left: 20px;

	// line-height: 20px;
	// position: absolute;
	// top: 290px;
	// width: 100%;
	// margin-left: -20px;
	// margin-right: -20px;
}

%node-product-mini-teaser-price {
	text-align: center !important;
	background: none !important;
	font-size: 15px !important;
	line-height: 18px !important;
	// width: 100% !important;
	// float: none !important;

}

%node-product-full-price {
	// text-align: center;
	font-size: 23px;
	line-height: 1.2;
	border-top: 1px solid #353535;
	border-bottom: 1px solid #353535;
	display: inline-block;
	padding: 8px 6px;
	margin: 0 0 1em;
}
