//
// Title
//

%node-product-title {
	// text-transform: uppercase;
	font-family: $font-family-alt;
	font-weight: normal;
	// color: $text-color;
	line-height: 1.25em;
	margin-top: 0;
	margin-bottom: 1em;

	a {
		color: $text-color;
		text-decoration: none;
	}
}

%node-product-teaser-title {
	font-size: 17px;
	position: absolute;
	top: 330px;
}

%node-product-mini-teaser-title {
	font-size: 13px !important;
}

%node-product-full-title {
	font-family: $font-family-base;
	font-size: 24px;
	margin-bottom: em-calc($em-base, 24px);
}
