//
// Footer
//

#footer-wrapper {
	position: relative;
	clear: both;
	width: $page-width;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	@include clearfix;
	padding: 1em 0 4em;
	margin: 0 auto;
	// width: $page-width;
	// border-top: 1px dotted #252525;

}
