//
// Header
//

#top-wrapper {
	// background: #C6DCE8;
	height: 170px;
	// width: $page-width;
	padding-top: 9px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	// position: relative;
	height: 72px; 
	position: relative;

	.pane--page-logo {
		// text-align: center;
		position: absolute;
		top: 0px;
		z-index: 10;
		width: 280px;
		height: 75px;
		overflow: hidden;
		border: 2px dotted #E6E6E6;

		img {
			max-height: 75px;
		}
	}

	.follow-links {
		float: right;
		margin-top: 29px;
		margin-right: 6px;
		// position: absolute;
		// top: 15px;
		// right: 0;
	}

	.mini-search-form {
		float: right;
		margin-top: 29px;
		// position: absolute;
		// top: 60px;
		// right: 0;
	}
	
	.main-nav { 
		position: absolute;
		top: 	81px;
		left: 0px;
		width: 100%;

		.menu {
			// width: $page-width;
			// margin-left: auto;
			// margin-right: auto;
			// padding-left: 200px;
		}
	}
}


