//
// Layout
//

body {
	background: url('../images/bg.png') repeat-x;
}

.l-page-short {
	position: relative;
	width: $page-width;
	margin-top: 20px;
	margin-bottom: .5em;
	margin-left: auto;
	margin-right: auto;
	padding: 0 $main-padding-right 3em $main-padding-left;

	border-radius: 14px;
	background: #FFFFFF;
	-moz-box-shadow:    0px 5px 12px 0px rgba(0,0,0,0.42);
	box-shadow:         0px 5px 12px 0px rgba(0,0,0,0.42);
}

// Main
.main {
	@include clearfix;
	// padding: $main-padding-top $main-padding-right $main-padding-bottom $main-padding-left;
	margin: 0 auto;
}

// Content
.content {
	min-height: 300px;
}

