//
// Product layout
//

// body.node-type-csd-product .panel-col-first,
body.node-type-csd-product .cs-basic-region__first {
	@include box-sizing(border-box);
	width: 55%;
	padding-right: 2%;
	float: left;
}

// body.node-type-csd-product .panel-col-last,
body.node-type-csd-product .cs-basic-region__second {
	width: 45%;
	float: left;
}

body.node-type-csd-product .cs-basic-region__fifth {
	clear: both;
}