// 
// Navigation
//

.main-nav {
	font-family: $font-family-alt;
	font-size: 17px;
	font-weight: 400;
	text-transform: uppercase;
	height: 57px;

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	li {
		display: inline;
		list-style: none !important;
		padding: 0;
		margin: 0;
	}

	li.level-1 {
		position: relative;
		display: inline-block;

		& > a {
			text-decoration: none;
			line-height: 57px;
			color: #2D2D2D;			
			display: block;
			padding-left: 10px;
			padding-right: 10px;
		}

		&.hover > a {
			color: #fff !important;
			background: rgba(176,26,34,0.92);
		}

		& > a.active-trail,
		& > a.active {
			color: $link-color;
		}		
	}

	li.level-1:last-child {
	}

	// level-1 container
	li.level-1 > ul {
		background: rgba(176,26,34,0.92);
		display: none;
		position: absolute;
		// float: left;
		left: 0;
		z-index: 100;
		padding: 1.4em 1em;
		min-width: 12em;
		max-width: 18em;
	}

	// level-2
	li.level-2 {

		& > a {
			text-transform: none;	
			text-decoration: none;
			font-size: 13px;
			line-height: 1.3em;
			font-weight: 400;
			color: #fff;
			background: url(../images/icon-triangle-white.png) no-repeat 0 4px;
			display: block;
			margin: 0 0 .8em 0;
			padding: 0 0 0 1em;
		}

		&:last-child a {
			margin: 0;
		}

		& > a:hover {
			text-decoration: underline;
			// color: #fff !important;
			// background: rgba(176,26,34,0.92);
		}

		& > a.active-trail,
		& > a.active {
			// color: $link-color;
		}		
	}
}

