//
// Product Btn Buy 
//

// Wrapper
%node-product-teaser-btn-buy-wrapper {
	text-align: right;
	display: block;
	float: left;
	width: 45%;
}

%node-product-full-btn-buy-wrapper {
}

// Field
%node-product-btn-buy {
}

%node-product-teaser-btn-buy {
}

%node-product-full-btn-buy {
	@extend .btn--large;
	margin-bottom: 1em;
}
