//
// Product Price
//

%node-product-price {
	font-family: $font-family-alt;
	font-weight: bold;
}

%node-product-teaser-price {
	display: block;
	float: left;
	width: 55%;
	font-size: 16px;
	line-height: 1.2em;
	margin: 0;

	// position: absolute;
	// top: 360px;

}

%node-product-mini-teaser-price {
	font-size: 15px !important;
	line-height: 18px !important;
}

%node-product-full-price {
	font-size: 23px;
	line-height: 1.2;
	margin: 0 0 1em 0;
}
