//
// Title
//

%node-product-title {
	font-weight: normal;
	line-height: 1.25em;
	margin-top: 0;
	margin-bottom: 1em;

	a {
		color: $text-color;
		text-decoration: none;
	}
}

%node-product-teaser-title {
	font-size: 15px;
	font-weight: 500;
	min-height: 5em;
	// position: absolute;
	// top: 290px;
	margin-top: 2em;
}

%node-product-mini-teaser-title {
	font-size: 14px !important;
	font-weight: 500 !important; 
}

%node-product-full-title {
	text-transform: none;
	text-align: left;
	font-family: $font-family-base;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: em-calc($em-base, 20px);
}
