//
// Typography
// 

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);


body {
  color: $text-color;
  font-weight: normal;
  font-size: $font-size-base;
  font-family: $font-family-base;
  line-height: $line-height-base;
  //-webkit-font-smoothing: subpixel-antialiased;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-weight: normal; 
  font-size: 34px;
  line-height: 36px;
}

h2 {
  font-weight: $headings-font-weight; 
  font-size: 20px;
  line-height: 23px;
}

strong {
  //font-weight: 600;
}
