//
// Product
//

%node-product {
}

%node-product-teaser {
	position: relative;
	// text-align: center;
	height: 420px;
	margin-bottom: 3em;
	padding-bottom: 7px;

}

%node-product-mini-teaser {
	position: relative;
	// text-align: center;
	height: 300px;
	margin-bottom: 4em;
	padding-bottom: 7px;
}

%node-product-full {

	.pane--node-field-csd-creview {

		.pane__title {
			// background: #E5EFF4;
			// padding: 4px 24px;
			// margin-bottom: 0;
		}

		.field--csd-creview {
			font-size: 13px;
			color: #5E5E5E;
			// background: #F7F7F7;
			// padding: 1em 24px;
		}
	}

	.pane--facebook-comments-facebook-comments {

		.pane__title {
			// background: #E5EFF4;
			// padding: 4px 1em;
			// margin-bottom: 0;
		}

		.fb-comments {
			// background: #F7F7F7;
			// padding: 1em;
			width: 100% !important;
			overflow: hidden;

			& > span {
				width: 100% !important;
			}

			iframe {
				width: 100% !important;
			}

			iframe body div.pluginSkinLight > div {
				width: 100% !important;
			}
		}
	}
}
