

.view-csd-products,
.view-csd-products.view-display-id-panel_pane_1,
.search-api-page-results .search-results {
	width: 899px + 16px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;

	.node--csd-product--teaser {
		width: 289px;
		float: left;
		margin-left: 8px;
		margin-right: 8px;
		border-bottom: 2px solid #D8D8D8;
	}
}

.view-csd-most-popular-products,
.view-csd-related-products {
	@include clearfix;
	margin-right: -16px;

	ul {
		list-style: none;
		margin: 0 0 1em 0;
		padding: 0;
	}

	li {
		list-style: none;
		margin: 0;
		padding: 0;

		.node {
			float: left;
			width: 167px;
			height: 220px;
			margin-right: 16px;
		}
	}
}

