//
// Node "CS: Product" Teaser
//

.node--csd-product--teaser {
	position: relative;
	text-align: center;
	height: 480px;
	margin-bottom: 3em;
	padding-bottom: 7px;

	.field--image {
		margin: 0 0 .9em 0;

		img {
			display: block;
		}
	}

	.node__title {
		font-size: 17px;
		font-weight: normal;
		line-height: 1.1175em;
		margin: 0 0 1em 0;
		color: #424242;

		a {
			color: #222222;
			text-decoration: none;
		}
	}

	.field--csd-price,
	.field--csd-price2 {
		font-size: 18px;
		line-height: 20px;
		font-weight: bold;
		color: #6A6A6A;
	}

	.pane--csdrupal-buy-btn-pane {
		text-align: center;
		position: absolute;
		bottom: 54px;
		width: 100%;
	}

	.btn--buy {	
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;
		border-radius: 40px;
		background: #1D991E;
		font-size: 13px;
		font-weight: bold;
		color: #FFFFFF;
		line-height: 20px;
		padding: 5px 20px 4px;
		/*margin-bottom: 4em;*/

		&:hover {
			text-decoration: none;
		}
	}

	.sharethis-wrapper {
		position: absolute;
		bottom: 7px;
	}
}

