//
// Node "CS: Product" Miniteaser
//

.node--csd-product--mini-teaser {
	text-align: center;
	margin-bottom: 4em;

	.field--image {
		margin: 0 0 .6em 0;

		img {
			display: block;
		}
	}

	.node__title {
		font-size: 13px;
		font-weight: normal;
		line-height: 1.1175em;
		margin: 0 0 .5em 0;

		a {
			color: #616161;
			text-decoration: none;
		}
	}

	.field--csd-price,
	.field--csd-price2 {
		font-size: 15px;
		font-weight: bold;
		color: #6A6A6A;
	}

}
