//
// Header
//

#top-wrapper {
	// background: #C6DCE8;
	height: 220px;
	// width: $page-width;
	// padding-top: 9px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	// position: relative;
	text-align: center;
	height: 120px; 
	padding-top: 20px;
	position: relative;
	// background: #25221E;
	margin-left: -$main-padding-left;
	margin-right: -$main-padding-right;

	.pane--page-logo {
		text-align: center;
		//position: absolute;
		//top: 0px;
		//z-index: 10;
		width: 300px;
		height: 90px;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;


		border: 2px dotted #E6E6E6;

		img {
			max-height: 90px;
		}
	}

	.follow-links {
		position: absolute;
		top: 15px;
		right: 24px;
	}

	.mini-search-form {
		position: absolute;
		top: 78px;
		right: 24px;
	}
	
	.main-nav { 
		display: inline-block;
		margin-top: 24px;
		// position: absolute;
		// top: 144px;
		// left: 0px;
		// width: 100%;

		.menu {
			// width: $page-width;
			// margin-left: auto;
			// margin-right: auto;
			// padding-left: 200px;
		}
	}
}


