//
// Product layout
//

// body.node-type-csd-product .panel-col-first,
body.node-type-csd-product .cs-basic-region__first {
	width: 60%;
	padding-right: 2%;
	float: left;
	margin-top: 2em;
}

// body.node-type-csd-product .panel-col-last,
body.node-type-csd-product .cs-basic-region__second {
	width: 40%;
	float: left;	
	margin-top: 2em;
	margin-bottom: 3em;
}

body.node-type-csd-product .cs-basic-region__bottom {
	clear: both;
}
