// 
// Navigation
//

.main-nav {
	font-family: $font-family-alt;
	font-size: 15px;
	font-weight: normal;
	text-transform: uppercase;
	background: #1E1E1E;	
	// line-height: 74px;
	height: 74px;

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	li {
		display: inline;
		list-style: none !important;
		padding: 0;
		margin: 0;
	}


	li.level-1 {
		display: block;
		float: left;
		position: relative;

		& > a {
			line-height: 74px;
			color: #fff;
			text-decoration: none;
			border-left: 1px solid #555;
			display: block;
			padding-left: 15px;
			padding-right: 15px;
		}

		a.hover span,
		a.active-trail span,
		a.active span {
			border-bottom: 4px solid #1C5C7C;
		}

	}

	li.level-1:last-child {
		border-right: 1px solid #555;
	}

	// level-1 container
	li.level-1 > ul {
		background: #FFFFFF;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.24);		
		display: none;
		position: absolute;
		// float: left;
		left: 0;
		z-index: 100;
		padding: 1.6em 1.8em;
		min-width: 14em;
		max-width: 20em;
	}

	// level-2
	li.level-2 {

		& > a {
			text-transform: none;	
			text-decoration: none;
			font-family: $font-family-base;
			font-size: 15px;
			line-height: 1.3em;
			font-weight: normal;
			color: #4C4C4C;
			display: block;
			margin: 0 0 1em 0;
			padding: 0;
		}

		&:last-child a {
			margin-bottom: 0;
		}

		& > a:hover {
			text-decoration: underline;
		}	
	}
}