//
// Btn
//

.btn {
	text-align: center;
	text-decoration: none;
	// text-transform: uppercase;
	display: inline-block;
	border-radius: 6px;
	background: $btn-default-bg;
	-moz-box-shadow:    inset -1px -1px 2px 0px rgba(0,0,0,0.50);
	box-shadow:         inset -1px -1px 2px 0px rgba(0,0,0,0.50);
	//font-family: $font-family-alt;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	color: $btn-default-color;
	line-height: 32px;
	padding: 1px 20px 0px;

font-family: Arial-BoldMT;
font-size: 18px;
color: #FFFFFF;
line-height: 20px;
/* Buy: */

	&:hover {
		text-decoration: none;
		background-color: darken($btn-default-bg, 10%);
	}
}

.btn--large {
	font-size: 16px;
	line-height: 48px;
	padding-left: 27px;
	padding-right: 27px;
}
