
#page__title,
.page__title {
  // text-transform: uppercase;
  // font-family: $font-family-alt;
  font-size: 20px;
  font-weight: bold;
  color: #115AB9;
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 1em;
}
