// 
// Navigation
//

.main-nav {
	font-family: $font-family-alt;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	
	// background: #88f;
	line-height: 48px;
	border-top: 1px solid #313131;
	border-bottom: 2px solid #313131;
	// background: url(../images/main-nav.png) repeat-x;
	
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	li {
		display: inline;
		list-style: none !important;
		padding: 0;
		margin: 0;
	}

	li.level-1 {
		position: relative;
		display: inline-block;

		& > a {
			text-decoration: none;
			line-height: 57px;
			color: #2D2D2D;
			
			display: block;
			padding-left: 12px;
			padding-right: 12px;
		}

		&.expanded > a {
			background: url(../images/icon-triangle-down.png) no-repeat right center;
		}

		&.hover > a {
			color: #fff !important;
			background-color: rgba(79,164,200,0.95);
			margin-top: -5px;
			padding-top: 5px;
		}
		
		&.hover.expanded > a {
			background-image: url(../images/icon-triangle-down-white.png) !important;
		}

		& > a.active-trail,
		& > a.active {
			color: #4FA4C8;
		}		
	}

	li.level-1:last-child {
	}

	// level-1 container
	li.level-1 > ul {
		background: rgba(79,164,200,0.95);
		display: none;
		position: absolute;
		// float: left;
		left: 0;
		z-index: 100;
		padding: 1.4em 1em;
		min-width: 12em;
		max-width: 18em;
	}

	// level-2
	li.level-2 {

		& > a {
			text-transform: none;	
			text-decoration: none;
			font-size: 13px;
			line-height: 1.3em;
			font-weight: 400;
			color: #fff;
			background: url(../images/icon-triangle-white.png) no-repeat 0 4px;
			display: block;
			margin: 0 0 .8em 0;
			padding: 0 0 0 1em;
		}

		&:last-child a {
			margin: 0;
		}

		& > a:hover {
			text-decoration: underline;
			// color: #fff !important;
			// background: rgba(176,26,34,0.92);
		}

		& > a.active-trail,
		& > a.active {
			// color: $link-color;
		}		
	}



	// a {
	// 	color: #333;
	// 	// color: #fff;
	// 	text-decoration: none;

	// 	&:hover {
	// 		color: lighten(#4FA4C8, 10%);
	// 	}
	// }

	// a.active-trail,
	// a.active {
	// 	color: #4FA4C8;
	// }


	// ul {
	// 	padding: 0 15px;
	// 	margin: 0;
	// 	list-style: none;
	// }

	// li {
	// 	display: inline-block;
	// 	list-style: none;
	// 	padding: 0;
	// 	margin: 0 10px;
	// }
}