@media all and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Gorazd\/Sites\/dev\.csdrupal\/profiles\/csdrupal_kickstart\/themes\/csthemeone\/sass\/csthemeone\.hacks\.scss}line{font-family:\000033}}
  #toolbar, #admin-menu {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Gorazd\/Sites\/dev\.csdrupal\/profiles\/csdrupal_kickstart\/themes\/csthemeone\/sass\/csthemeone\.hacks\.scss}line{font-family:\000038}}
  html body.toolbar, html body.admin-menu {
    padding-top: 0 !important;
    margin-top: 0 !important; } }
