/* No files to import found in abstractions/**\/* */
/* line 2, ../sass/base/_forms.scss */
.form-text {
  color: #777;
  border-radius: 6px;
  border: 2px solid #D8D8D8;
  padding: 10px 10px;
  line-height: 1.3em; }

/* line 10, ../sass/base/_forms.scss */
.form-submit {
  display: inline-block;
  padding: 10px 12px;
  margin-bottom: 0;
  line-height: 1.3em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background: #eee;
  border: 2px solid #eee;
  border-radius: 6px; }

/* line 5, ../sass/base/_media.scss */
figure {
  margin: 0; }

/* line 5, ../sass/base/_typography.scss */
body {
  color: #353535;
  font-weight: normal;
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 1.5; }

/* line 14, ../sass/base/_typography.scss */
a {
  color: #0099D8;
  text-decoration: none; }
  /* line 18, ../sass/base/_typography.scss */
  a:hover {
    text-decoration: underline; }

/* line 23, ../sass/base/_typography.scss */
h1 {
  font-weight: normal;
  font-size: 34px;
  line-height: 36px; }

/* line 29, ../sass/base/_typography.scss */
#page__title,
.page__title {
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  color: #4A4949;
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 2em; }

/* line 40, ../sass/base/_typography.scss */
h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px; }

/* line 5, ../sass/components/_customer-reviews.scss */
.field--csd-creview {
  list-style: none;
  padding: 0 0 0 1.5em;
  margin: 0 0 2.5em 0;
  border-left: 4px solid #D8D8D8; }
  /* line 11, ../sass/components/_customer-reviews.scss */
  .field--csd-creview .field--title {
    font-size: 14px;
    line-height: 1em;
    margin: 0; }
  /* line 17, ../sass/components/_customer-reviews.scss */
  .field--csd-creview .field--csd-creview-author {
    margin: 0 0 .5em 0; }
  /* line 21, ../sass/components/_customer-reviews.scss */
  .field--csd-creview li {
    border-left: 4px solid #d8d8d8;
    padding: 0 0 0 1.5em;
    margin: 0 0 1em 0; }

/* line 2, ../sass/components/_footer-nav.scss */
.footer-nav {
  text-align: right; }
  /* line 5, ../sass/components/_footer-nav.scss */
  .footer-nav ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0; }
  /* line 12, ../sass/components/_footer-nav.scss */
  .footer-nav li {
    list-style: none;
    display: inline;
    margin-right: .4em; }
  /* line 18, ../sass/components/_footer-nav.scss */
  .footer-nav a {
    color: #767676;
    text-decoration: none; }
    /* line 22, ../sass/components/_footer-nav.scss */
    .footer-nav a:hover {
      color: #0099D8;
      text-decoration: underline; }
    /* line 26, ../sass/components/_footer-nav.scss */
    .footer-nav a.active, .footer-nav a.active-trail {
      color: #0099D8;
      text-decoration: underline; }

/* line 5, ../sass/components/_main-nav.scss */
.main-nav {
  background: #88f;
  line-height: 60px;
  border-radius: 7px;
  background: url(../images/main-nav.png) repeat-x;
  font-weight: bold; }
  /* line 12, ../sass/components/_main-nav.scss */
  .main-nav ul {
    padding: 0 12px;
    margin: 0;
    list-style: none; }
  /* line 18, ../sass/components/_main-nav.scss */
  .main-nav li {
    display: inline;
    list-style: none !important;
    padding: 0;
    margin: 0; }
  /* line 25, ../sass/components/_main-nav.scss */
  .main-nav li.level-1 {
    display: block;
    float: left;
    position: relative; }
    /* line 30, ../sass/components/_main-nav.scss */
    .main-nav li.level-1 > a {
      line-height: 60px;
      color: #fff;
      text-decoration: none;
      display: block;
      padding-left: 12px;
      padding-right: 12px; }
    /* line 39, ../sass/components/_main-nav.scss */
    .main-nav li.level-1.hover > a {
      background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%); }
    /* line 43, ../sass/components/_main-nav.scss */
    .main-nav li.level-1 > a.active-trail, .main-nav li.level-1 > a.active {
      color: rgba(255, 255, 255, 0.8); }
  /* line 53, ../sass/components/_main-nav.scss */
  .main-nav li.level-1 > ul {
    background: rgba(255, 255, 255, 0.94);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    left: 0;
    z-index: 100;
    margin-top: -1px;
    padding: 1.4em 1em;
    min-width: 12em;
    max-width: 18em; }
  /* line 70, ../sass/components/_main-nav.scss */
  .main-nav li.level-2 > a {
    text-transform: none;
    text-decoration: none;
    line-height: 1.3em;
    font-weight: 400;
    color: #2D2D2D;
    background: url(../images/icon-triangle.png) no-repeat 0 6px;
    display: block;
    margin: 0 0 .8em 0;
    padding: 0 0 0 1em; }
  /* line 82, ../sass/components/_main-nav.scss */
  .main-nav li.level-2:last-child a {
    margin: 0; }
  /* line 86, ../sass/components/_main-nav.scss */
  .main-nav li.level-2 > a:hover {
    text-decoration: underline; }

/* line 2, ../sass/components/_mini-search-form.scss */
.mini-search-form {
  border-radius: 26px;
  border: 2px solid #D8D8D8;
  padding: 2px 16px; }
  /* line 7, ../sass/components/_mini-search-form.scss */
  .mini-search-form input {
    border: none;
    margin: 0; }
  /* line 12, ../sass/components/_mini-search-form.scss */
  .mini-search-form .form-item.form-type-textfield {
    display: inline-block;
    margin: 0; }
  /* line 17, ../sass/components/_mini-search-form.scss */
  .mini-search-form .form-text {
    color: #777;
    line-height: 14px;
    outline: none;
    width: 12em;
    padding: 10px 0 9px;
    border-radius: 26px; }
  /* line 26, ../sass/components/_mini-search-form.scss */
  .mini-search-form .form-submit {
    background: url(../images/search-btn.png) no-repeat center center;
    text-indent: -1000px;
    width: 20px;
    line-height: 30px;
    height: 30px;
    padding: 0;
    margin: -3px -4px 0 0; }

/* line 5, ../sass/components/_search-api-search-form.scss */
.search-api-page-search-form .form-item.form-type-textfield {
  display: inline-block;
  margin: 0; }

/* line 2, ../sass/components/_sharethis.scss */
.sharethis-wrapper * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 5, ../sass/components/_tagclouds.scss */
.wrapper.tagclouds,
.pane--tagclouds {
  margin-right: 1em; }

/* line 12, ../sass/components/_tagclouds.scss */
.tagclouds.level1 {
  font-weight: bold;
  font-size: 0.8em; }
/* line 13, ../sass/components/_tagclouds.scss */
.tagclouds.level2 {
  font-weight: bold;
  font-size: 0.85em; }
/* line 14, ../sass/components/_tagclouds.scss */
.tagclouds.level3 {
  font-weight: bold;
  font-size: 0.9em; }
/* line 15, ../sass/components/_tagclouds.scss */
.tagclouds.level4 {
  font-weight: bold;
  font-size: 0.95em; }
/* line 16, ../sass/components/_tagclouds.scss */
.tagclouds.level5 {
  font-weight: bold;
  font-size: 1.0em; }
/* line 17, ../sass/components/_tagclouds.scss */
.tagclouds.level6 {
  font-weight: bold;
  font-size: 1.05em; }
/* line 18, ../sass/components/_tagclouds.scss */
.tagclouds.level7 {
  font-weight: bold;
  font-size: 1.1em; }
/* line 19, ../sass/components/_tagclouds.scss */
.tagclouds.level8 {
  font-weight: bold;
  font-size: 1.15em; }
/* line 20, ../sass/components/_tagclouds.scss */
.tagclouds.level9 {
  font-weight: bold;
  font-size: 1.2em; }
/* line 21, ../sass/components/_tagclouds.scss */
.tagclouds.level10 {
  font-weight: bold;
  font-size: 1.25em; }

/**
 * This CSS file is generated by Follow module. DO NOT edit it directly.
 * Instead, copy the file to your theme's CSS directory and edit it there.
 */
/* line 64, follow-link/*.png */
.follow-link-sprite, .follow-link-facebook, .follow-link-pinterest, .follow-link-twitter {
  background-image: url('../images/generated/follow-link-s490164c5bd.png');
  background-repeat: no-repeat; }

/* line 84, ../../../../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.follow-link-facebook {
  background-position: 0 0; }

/* line 84, ../../../../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.follow-link-pinterest {
  background-position: 0 -33px; }

/* line 84, ../../../../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.follow-link-twitter {
  background-position: 0 -66px; }

/**
 * Small icon style.
 */
/* line 19, ../sass/components/follow.scss */
a.follow-link {
  display: block;
  width: 33px;
  height: 33px;
  line-height: 33px;
  padding: 0;
  margin-right: 10px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize; }

/* line 30, ../sass/components/follow.scss */
.follow-link-wrapper {
  float: left; }

/* line 38, ../sass/components/follow.scss */
.follow-link-googleplus {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-googleplus.png); }

/* line 42, ../sass/components/follow.scss */
.follow-link-myspace {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-myspace.png); }

/* line 46, ../sass/components/follow.scss */
.follow-link-virb {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-virb.png); }

/* line 50, ../sass/components/follow.scss */
.follow-link-bliptv {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-bliptv.png); }

/* line 54, ../sass/components/follow.scss */
.follow-link-lastfm {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-lastfm.png); }

/* line 58, ../sass/components/follow.scss */
.follow-link-youtube {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-youtube.png); }

/* line 66, ../sass/components/follow.scss */
.follow-link-picasa {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-picasa.png); }

/* line 70, ../sass/components/follow.scss */
.follow-link-flickr {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-flickr.png); }

/* line 74, ../sass/components/follow.scss */
.follow-link-vimeo {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-vimeo.png); }

/* line 78, ../sass/components/follow.scss */
.follow-link-linkedin {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-linkedin.png); }

/* line 82, ../sass/components/follow.scss */
.follow-link-delicious {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-delicious.png); }

/* line 86, ../sass/components/follow.scss */
.follow-link-tumblr {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-tumblr.png); }

/* line 90, ../sass/components/follow.scss */
.follow-link-this-site {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-feed.png); }

/* line 94, ../sass/components/follow.scss */
.follow-link-viadeo {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-viadeo.png); }

/* line 98, ../sass/components/follow.scss */
.follow-link-xing {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-xing.png); }

/* line 102, ../sass/components/follow.scss */
.follow-link-spiceworks {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-spiceworks.png); }

/* line 106, ../sass/components/follow.scss */
.follow-link-newsletter {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-newsletter.png); }

/* line 5, ../sass/components/products/_product-fullpage.scss */
body.node-type-csd-product .cs-basic-region__first {
  width: 533px;
  float: left;
  margin-right: 39px; }
  /* line 11, ../sass/components/products/_product-fullpage.scss */
  body.node-type-csd-product .cs-basic-region__first .field--image {
    margin: 0 0 3em 0; }
    /* line 14, ../sass/components/products/_product-fullpage.scss */
    body.node-type-csd-product .cs-basic-region__first .field--image img {
      display: block; }
  /* line 22, ../sass/components/products/_product-fullpage.scss */
  body.node-type-csd-product .cs-basic-region__first .field--body {
    margin-bottom: 3em; }
  /* line 26, ../sass/components/products/_product-fullpage.scss */
  body.node-type-csd-product .cs-basic-region__first .pane--node-field-csd-creview {
    margin-bottom: 3em; }

/* line 31, ../sass/components/products/_product-fullpage.scss */
body.node-type-csd-product .cs-basic-region__second {
  width: 350px;
  float: left; }
  /* line 35, ../sass/components/products/_product-fullpage.scss */
  body.node-type-csd-product .cs-basic-region__second .pane--page-breadcrumb {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #747474;
    list-style: none; }
    /* line 42, ../sass/components/products/_product-fullpage.scss */
    body.node-type-csd-product .cs-basic-region__second .pane--page-breadcrumb a {
      text-decoration: none;
      color: #747474; }
      /* line 46, ../sass/components/products/_product-fullpage.scss */
      body.node-type-csd-product .cs-basic-region__second .pane--page-breadcrumb a:hover {
        text-decoration: underline; }
    /* line 51, ../sass/components/products/_product-fullpage.scss */
    body.node-type-csd-product .cs-basic-region__second .pane--page-breadcrumb ul {
      padding: 0;
      margin-right: 0; }
    /* line 56, ../sass/components/products/_product-fullpage.scss */
    body.node-type-csd-product .cs-basic-region__second .pane--page-breadcrumb li {
      list-style: none;
      padding: 0;
      margin: 0 10px 0 0; }
  /* line 63, ../sass/components/products/_product-fullpage.scss */
  body.node-type-csd-product .cs-basic-region__second .page__title {
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    color: #424242;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 1em; }
  /* line 73, ../sass/components/products/_product-fullpage.scss */
  body.node-type-csd-product .cs-basic-region__second .field--csd-price,
  body.node-type-csd-product .cs-basic-region__second .field--csd-price2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    line-height: 29px; }
  /* line 82, ../sass/components/products/_product-fullpage.scss */
  body.node-type-csd-product .cs-basic-region__second .pane--csdrupal-buy-btn-pane {
    text-align: center; }
  /* line 86, ../sass/components/products/_product-fullpage.scss */
  body.node-type-csd-product .cs-basic-region__second .btn--buy {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 40px;
    background: #1D991E;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 20px;
    padding: 13px 40px;
    margin-bottom: 4em; }
    /* line 99, ../sass/components/products/_product-fullpage.scss */
    body.node-type-csd-product .cs-basic-region__second .btn--buy:hover {
      text-decoration: none; }
  /* line 104, ../sass/components/products/_product-fullpage.scss */
  body.node-type-csd-product .cs-basic-region__second .sharethis-wrapper {
    border-bottom: 2px solid #d8d8d8;
    padding: 0 2em 1.5em;
    margin-bottom: 2em; }
  /* line 110, ../sass/components/products/_product-fullpage.scss */
  body.node-type-csd-product .cs-basic-region__second .pane--facebook-boxes-fb-like {
    margin-bottom: 2em; }

/* line 5, ../sass/components/products/_product-miniteaser.scss */
.node--csd-product--mini-teaser {
  text-align: center;
  margin-bottom: 4em; }
  /* line 9, ../sass/components/products/_product-miniteaser.scss */
  .node--csd-product--mini-teaser .field--image {
    margin: 0 0 .6em 0; }
    /* line 12, ../sass/components/products/_product-miniteaser.scss */
    .node--csd-product--mini-teaser .field--image img {
      display: block; }
  /* line 17, ../sass/components/products/_product-miniteaser.scss */
  .node--csd-product--mini-teaser .node__title {
    font-size: 13px;
    font-weight: normal;
    line-height: 1.1175em;
    margin: 0 0 .5em 0; }
    /* line 23, ../sass/components/products/_product-miniteaser.scss */
    .node--csd-product--mini-teaser .node__title a {
      color: #616161;
      text-decoration: none; }
  /* line 29, ../sass/components/products/_product-miniteaser.scss */
  .node--csd-product--mini-teaser .field--csd-price,
  .node--csd-product--mini-teaser .field--csd-price2 {
    font-size: 15px;
    font-weight: bold;
    color: #6A6A6A; }

/* line 5, ../sass/components/products/_product-teaser.scss */
.node--csd-product--teaser {
  position: relative;
  text-align: center;
  height: 480px;
  margin-bottom: 3em;
  padding-bottom: 7px; }
  /* line 12, ../sass/components/products/_product-teaser.scss */
  .node--csd-product--teaser .field--image {
    margin: 0 0 .9em 0; }
    /* line 15, ../sass/components/products/_product-teaser.scss */
    .node--csd-product--teaser .field--image img {
      display: block; }
  /* line 20, ../sass/components/products/_product-teaser.scss */
  .node--csd-product--teaser .node__title {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.1175em;
    margin: 0 0 1em 0;
    color: #424242; }
    /* line 27, ../sass/components/products/_product-teaser.scss */
    .node--csd-product--teaser .node__title a {
      color: #222222;
      text-decoration: none; }
  /* line 33, ../sass/components/products/_product-teaser.scss */
  .node--csd-product--teaser .field--csd-price,
  .node--csd-product--teaser .field--csd-price2 {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #6A6A6A; }
  /* line 41, ../sass/components/products/_product-teaser.scss */
  .node--csd-product--teaser .pane--csdrupal-buy-btn-pane {
    text-align: center;
    position: absolute;
    bottom: 54px;
    width: 100%; }
  /* line 48, ../sass/components/products/_product-teaser.scss */
  .node--csd-product--teaser .btn--buy {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 40px;
    background: #1D991E;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 20px;
    padding: 5px 20px 4px;
    /*margin-bottom: 4em;*/ }
    /* line 61, ../sass/components/products/_product-teaser.scss */
    .node--csd-product--teaser .btn--buy:hover {
      text-decoration: none; }
  /* line 66, ../sass/components/products/_product-teaser.scss */
  .node--csd-product--teaser .sharethis-wrapper {
    position: absolute;
    bottom: 7px; }

/* line 3, ../sass/components/products/_products-list.scss */
.view-csd-products,
.view-csd-products.view-display-id-panel_pane_1,
.search-api-page-results .search-results {
  width: 915px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0; }
  /* line 12, ../sass/components/products/_products-list.scss */
  .view-csd-products .node--csd-product--teaser,
  .view-csd-products.view-display-id-panel_pane_1 .node--csd-product--teaser,
  .search-api-page-results .search-results .node--csd-product--teaser {
    width: 289px;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: 2px solid #D8D8D8; }

/* line 21, ../sass/components/products/_products-list.scss */
.view-csd-most-popular-products,
.view-csd-related-products {
  margin-right: -16px; }
  /* line 13, ../../../../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/toolkit-2.6.0/stylesheets/toolkit/_clearfix.scss */
  .view-csd-most-popular-products:after,
  .view-csd-related-products:after {
    content: "";
    display: table;
    clear: both; }
  /* line 26, ../sass/components/products/_products-list.scss */
  .view-csd-most-popular-products ul,
  .view-csd-related-products ul {
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0; }
  /* line 32, ../sass/components/products/_products-list.scss */
  .view-csd-most-popular-products li,
  .view-csd-related-products li {
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 37, ../sass/components/products/_products-list.scss */
    .view-csd-most-popular-products li .node,
    .view-csd-related-products li .node {
      float: left;
      width: 167px;
      height: 220px;
      margin-right: 16px; }

/* line 5, ../sass/layout/_layout.scss */
.page {
  position: relative; }

/* line 9, ../sass/layout/_layout.scss */
.page__title {
  text-align: center; }

/* line 16, ../sass/layout/_layout.scss */
#top-wrapper {
  background: #fff url(../images/bg.png) repeat-x;
  height: 220px; }

/* line 21, ../sass/layout/_layout.scss */
.header {
  position: relative;
  margin: 0 auto;
  width: 960px;
  height: 90px;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear; }
  /* line 28, ../sass/layout/_layout.scss */
  .header .pane--page-logo {
    position: absolute;
    top: 6px;
    min-width: 280px;
    height: 110px;
    overflow: hidden;
    border: 2px dotted #E6E6E6; }
    /* line 39, ../sass/layout/_layout.scss */
    .header .pane--page-logo img {
      max-height: 110px; }
  /* line 44, ../sass/layout/_layout.scss */
  .header .follow-links {
    position: absolute;
    top: 15px;
    right: 0; }
  /* line 50, ../sass/layout/_layout.scss */
  .header .mini-search-form {
    position: absolute;
    top: 60px;
    right: 0; }
  /* line 56, ../sass/layout/_layout.scss */
  .header .main-nav {
    -moz-transition: linear 250ms;
    -o-transition: linear 250ms;
    -webkit-transition: linear 250ms;
    transition: linear 250ms; }
  /* line 59, ../sass/layout/_layout.scss */
  .header .main-nav {
    position: absolute;
    top: 120px;
    width: 100%; }

/* line 69, ../sass/layout/_layout.scss */
.main {
  padding: 0em 0 4em 0;
  margin: 0 auto;
  width: 960px; }
  /* line 13, ../../../../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/toolkit-2.6.0/stylesheets/toolkit/_clearfix.scss */
  .main:after {
    content: "";
    display: table;
    clear: both; }

/* line 77, ../sass/layout/_layout.scss */
.content {
  min-height: 300px; }

/* line 84, ../sass/layout/_layout.scss */
#footer-wrapper {
  clear: both; }

/* line 89, ../sass/layout/_layout.scss */
.footer {
  padding: 1em 0 4em;
  margin: 0 auto;
  width: 960px;
  border-top: 2px solid #d0d0d0; }
  /* line 13, ../../../../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/toolkit-2.6.0/stylesheets/toolkit/_clearfix.scss */
  .footer:after {
    content: "";
    display: table;
    clear: both; }

/* line 26, ../sass/csthemeone.styles.scss */
html {
  box-sizing: border-box; }

/* line 29, ../sass/csthemeone.styles.scss */
*, *:before, *:after {
  box-sizing: inherit; }

/*# sourceMappingURL=csthemeone.no-query.css.map */
