/* line 64, storenix/follow-link/*.png */
.follow-link-sprite, .follow-link-facebook, .follow-link-pinterest, .follow-link-twitter {
  background-image: url('../images/generated/storenix/follow-link-se1c19eef0c.png');
  background-repeat: no-repeat; }

/* line 84, ../../../../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.follow-link-facebook {
  background-position: 0 0; }

/* line 84, ../../../../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.follow-link-pinterest {
  background-position: 0 -33px; }

/* line 84, ../../../../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.follow-link-twitter {
  background-position: 0 -66px; }

/* line 17, ../sass/storenix.scss */
.main-nav {
  border-radius: 3px;
  background-image: url(../images/storenix/main-nav.png); }

/* line 29, ../sass/storenix.scss */
.node--csd-product--teaser .btn--buy {
  border-radius: 4px;
  background: #8AA216;
  padding: 4px 16px 3px; }

/* line 42, ../sass/storenix.scss */
body.node-type-csd-product .mo-basic-region__second .btn--buy {
  border-radius: 10px;
  background: #8AA216; }

/* line 53, ../sass/storenix.scss */
.mini-search-form {
  border-radius: 3px;
  background: #FFFFFF;
  border: 2px solid #BFC6C7;
  padding: 2px 16px; }

/*# sourceMappingURL=storenix.css.map */
