//
// Footer
//

#footer-wrapper {
	clear: both;
	background: #E2EDF4;
}

.footer {
	@include clearfix;
	padding: 1em 0 4em;
	margin: 0 auto;
	width: $page-width;
	// border-top: 1px dotted #252525;

}
