//
// Header
//

#top-wrapper {
	// background: #C6DCE8;
	height: 125px;
	width: $page-width;
	margin-left: auto;
	margin-right: auto;
}

.header {
	position: relative;
	margin: 0 auto;
	height: 90px; // + 56px;
	// @include transition(all 200ms linear);
	padding-top: 81px;

	.pane--page-logo {
		// text-align: center;
		position: absolute;
		top: 5px;
		z-index: 10;
		
		min-width: 182px;
		min-height: 56px;
		overflow: hidden;
		border: 2px dotted #E6E6E6;

		img {
			max-height: 56px;
		}
	}
	
	// .site__name {
	// 	@include hide-text();
	// 	// @include transition(all 250ms linear);
	// 	position: absolute;
	// 	z-index: 10;
	// 	top: 21px;
	// 	left: 0;
	// 	display: block;

	// 	a {
	// 		display: block;
	// 		width: 160px;
	// 		height: 56px;
	// 	}
	// }

	.follow-links {
		float: right;
		// position: absolute;
		// top: 15px;
		// right: 0;
	}

	.mini-search-form {
		float: right;
		// position: absolute;
		// top: 60px;
		// right: 0;
	}
	
	.main-nav { 
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;

		& > .menu {
			width: $page-width;
			margin-left: auto;
			margin-right: auto;
			padding-left: 200px;
		}
	}
}


