//
// Layout
//

body {
	background: url('../images/bg.png') repeat-x;
}

.l-page {
	position: relative;
}

// Main
.main {
	@include clearfix;
	padding: $main-padding-top $main-padding-right $main-padding-bottom $main-padding-left;
	margin: 0 auto;
	width: $page-width;
}

// Content
.content {
	min-height: 300px;
}
