//
// Btn
//

.btn {
	text-align: center;
	text-decoration: none;
	// text-transform: uppercase;
	display: inline-block;
	background: $btn-default-bg;
	background-image: linear-gradient(-180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
	border-radius: 4px;

	font-family: $font-family-alt;
	font-size: 14px;
	font-weight: bold;
	color: $btn-default-color;
	line-height: 38px;
	padding: 1px 20px 0px;

	&:hover {
		text-decoration: none;
		background-color: darken($btn-default-bg, 10%);
	}
}

.btn--large {
	font-size: 16px;
	line-height: 52px;
	padding-left: 40px;
	padding-right: 40px;
}
