//
// Pane
//

.pane {
	
	.pane__title {
		// text-transform: uppercase;
		text-decoration: underline;
		font-family: $font-family-alt;
		font-weight: bold;
		font-size: 20px;
		// color: #115AB9;
		line-height: 26px;
	}
}