
body {
}

.page {
	position: relative;
}

.page__title {
	text-align: center;
}


// {{ === HEADER }}

#top-wrapper {
	background: #fff url(../images/bg.png) repeat-x;
	height: 220px;
}

.header {
	position: relative;
	margin: 0 auto;
	width: 960px;
	height: 90px; // + 56px;
	@include transition(all 200ms linear);

	.pane--page-logo {
		// text-align: center;
		position: absolute;
		top: 6px;
		// z-index: 10;
		
		min-width: 280px;
		height: 110px;
		overflow: hidden;
		border: 2px dotted #E6E6E6;

		img {
			max-height: 110px;
		}
	}

	.follow-links {
		position: absolute;
		top: 15px;
		right: 0;
	}

	.mini-search-form {
		position: absolute;
		top: 60px;
		right: 0;
	}

	.main-nav {		
		@include transition(250ms linear);
	}
	.main-nav { 
		position: absolute;
		top: 120px;
		width: 100%;
	}
}


// {{ === MAIN }}

.main {
	@include clearfix;
	padding: 0em 0 4em 0;
	margin: 0 auto;
	width: 960px;
}


.content {
	min-height: 300px;
}


// {{ === FOOTER }}

#footer-wrapper {
	clear: both;
	// background: #DEECF6;
}

.footer {
	@include clearfix;
	padding: 1em 0 4em;
	margin: 0 auto;
	width: 960px;
	border-top: 2px solid #d0d0d0;
}

