//
// Footer
//

#footer-wrapper {
	position: relative;
	clear: both;
	width: $page-width;
	margin-left: auto;
	margin-right: auto;
}


.footer {
	@include clearfix;
	padding: 0 0 4em;
	margin: 0 auto;
}
