//
// Header
//

#top-wrapper {
	// background: #C6DCE8;
	height: 177px;
	// width: $page-width;
	// padding-top: 9px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
}

.header {
	position: relative;
	text-align: center;
	height: 120px; 
	padding-top: 16px;
	position: relative;
	background: #25221E;
	margin-left: -$main-padding-left;
	margin-right: -$main-padding-right;


	.pane--page-logo {
		text-align: center;
		min-width: 280px;
		max-width: 320px;
		min-height: 80px;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 14px;
		border: 2px dotted #E6E6E6;

		img {
			max-height: 80px;
		}
	}
	
	.follow-links {
		position: absolute;
		top: 70px;
		right: 20px;
	}

	.mini-search-form {
		position: absolute;
		top: 70px;
		left: 20px;
	}
	
	.main-nav {
		border-bottom: 1px solid #363636;

		& > .menu {
			display: inline-block;
		}

	}
}


