//
// Layout
//

body {
	background: #EDEAE7;
}

.l-page-short {
	position: relative;
	width: $page-width;
	margin-top: 10px;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	padding: 0 $main-padding-right 3em $main-padding-left;

	background: #FFFFFF;
	box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.25);
}

// Main
.main {
	@include clearfix;
	// padding: $main-padding-top $main-padding-right $main-padding-bottom $main-padding-left;
	margin: 0 auto;

	// border-left: 1px dotted #252525;
	// border-right: 1px dotted #252525;
}

// Content
.content {
	min-height: 300px;
}
