
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

@import "compass/utilities/sprites";
@import "storenix/follow-link/*.png";

@include all-follow-link-sprites;


// 
// Navigation
//

.main-nav {
	border-radius: 3px;
	background-image: url(../images/storenix/main-nav.png);
}


//
// Node "CS: Product" Teaser
//

.node--csd-product--teaser {

	.btn--buy {	
		border-radius: 4px;
		background: #8AA216;
		padding: 4px 16px 3px;
	}
}

//
// Node "CS: Product" Fullpage
//

body.node-type-csd-product .mo-basic-region__second {

	.btn--buy {	
		border-radius: 10px;
		background: #8AA216;
	}
}


//
//
//

.mini-search-form {
	border-radius: 3px;
	background: #FFFFFF;
	border: 2px solid #BFC6C7;
	padding: 2px 16px;
}





