//
// Product
//

%node-product {
}

%node-product-teaser {
	position: relative;
	// text-align: center;
	height: 400px;
	margin-bottom: 3em;
	padding-bottom: 7px;

}

%node-product-mini-teaser {
	position: relative;
	// text-align: center;
	height: 260px;
	margin-bottom: 2em;
	padding-bottom: 7px;
}

%node-product-full {

	// .panel-col-middle + .center-wrapper,
	.pane--csd-related-products,
	.pane--csd-most-popular-products-pane-1,
	.pane--node-field-csd-creview {
		background: url(../images/pane.png) repeat-x left bottom;

		// border-top: 1px solid #ADADAD;
		margin-left: -$main-padding-left + 30px;
		margin-right: -$main-padding-right + 30px;
		padding-left: $main-padding-left;
		padding-right: $main-padding-right;
	}	

	.pane--node-field-csd-creview {

		.field--csd-creview {
			width: 720px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.pane--facebook-comments-facebook-comments {

		.pane__title {
			// background: #E5EFF4;
			// padding: 4px 1em;
			// margin-bottom: 0;
		}

		.fb-comments {
			// background: #F7F7F7;
			// padding: 1em;
			// width: 100%;
			// overflow: hidden;
		}
	}
}



