// 
// Navigation
//

.main-nav {
	background: #88f;
	line-height: 60px;
	border-radius: 7px;
	background: url(../images/main-nav.png) repeat-x;
	font-weight: bold;

	ul {
		padding: 0 12px;
		margin: 0;
		list-style: none;
	}

	li {
		display: inline;
		list-style: none !important;
		padding: 0;
		margin: 0;
	}

	li.level-1 {
		display: block;
		float: left;
		position: relative;

		& > a {
			line-height: 60px;
			color: #fff;
			text-decoration: none;
			display: block;
			padding-left: 12px;
			padding-right: 12px;
		}

		&.hover > a {
			background-image: linear-gradient(-180deg, rgba(255,255,255,0.40) 0%, rgba(255,255,255,0.00) 100%);
		}

		& > a.active-trail ,
		& > a.active {
			color: rgba(255,255,255,.8);
		}
	}

	li.level-1:last-child {
	}

	// level-1 container
	li.level-1 > ul {
		background: rgba(256,256,256,0.94);
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
		display: none;
		position: absolute;
		// float: left;
		left: 0;
		z-index: 100;
		margin-top: -1px;
		padding: 1.4em 1em;
		min-width: 12em;
		max-width: 18em;
	}

	// level-2
	li.level-2 {

		& > a {
			text-transform: none;	
			text-decoration: none;
			line-height: 1.3em;
			font-weight: 400;
			color: #2D2D2D;
			background: url(../images/icon-triangle.png) no-repeat 0 6px;
			display: block;
			margin: 0 0 .8em 0;
			padding: 0 0 0 1em;
		}

		&:last-child a {
			margin: 0;
		}

		& > a:hover {
			text-decoration: underline;
		}

		& > a.active-trail,
		& > a.active {
			// color: $link-color;
		}		
	}
}