
.form-text {
	color: #777;
	// border-radius: 6px;
	border: 2px solid #D8D8D8;
	padding: 10px 10px;
	line-height: 1.3em;
}

.form-submit {
	display: inline-block;
	padding: 10px 12px;
	margin-bottom: 0;
	line-height: 1.3em;

	text-align: center;
	white-space: nowrap;

	vertical-align: middle;
	cursor: pointer;

	background: #eee;
	border: 2px solid #eee;
	// border-radius: 6px;	
}

