/* Since the typical default browser font-size is 16px, that makes the calculation for grid size. */
/* If you want your base font-size to be a different size and not have it effect grid size too, */
/* set the value of $em-base to $base-font-size ($em-base: $base-font-size;) */
/* New Syntax, allows to optionally calculate on a different base value to counter compounding effect of em's. */
/* Call with 1, 2, 3 or 4 parameters, 'px' is not required but supported */
/* em-calc(10 20 30px 40); */
/* Space delimited, if you want to delimit using comma's, wrap it in another pair of brackets */
/* em-calc((10, 20, 30, 40px)); */
/* Optionally call with a different base (eg: 8px) to calculate em. */
/* em-calc(16px 32px 48px, 8px); */
/* If you require to comma separate your list */
/* em-calc((16px, 32px, 48), 8px); */
/* It strips the unit of measure and returns it */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext);
/* line 2, ../sass/base/_forms.scss */
.form-text {
  color: #777;
  border-radius: 6px;
  border: 2px solid #D8D8D8;
  padding: 10px 10px;
  line-height: 1.3em; }

/* line 10, ../sass/base/_forms.scss */
.form-submit {
  display: inline-block;
  padding: 10px 12px;
  margin-bottom: 0;
  line-height: 1.3em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background: #eee;
  border: 2px solid #eee;
  border-radius: 6px; }

/* line 5, ../sass/base/_media.scss */
figure {
  margin: 0; }

/* line 8, ../sass/base/_typography.scss */
body {
  color: #353535;
  font-weight: normal;
  font-size: 15px;
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.5; }

/* line 17, ../sass/base/_typography.scss */
a {
  color: #4FA4C8;
  text-decoration: none; }
  /* line 21, ../sass/base/_typography.scss */
  a:hover {
    text-decoration: underline; }

/* line 26, ../sass/base/_typography.scss */
h1 {
  font-weight: normal;
  font-size: 34px;
  line-height: 36px; }

/* line 32, ../sass/base/_typography.scss */
h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px; }

/* line 5, ../sass/components/_btn.scss */
.btn {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  background: #1C5C7C;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  color: #FFF;
  line-height: 32px;
  padding: 1px 20px 0px; }
  /* line 20, ../sass/components/_btn.scss */
  .btn:hover {
    text-decoration: none;
    background-color: #368aae; }

/* line 26, ../sass/components/_btn.scss */
.btn--large, body.node-type-csd-product .btn--buy,
.node-csd-product-full .btn--buy {
  font-size: 18px;
  line-height: 52px;
  padding-left: 40px;
  padding-right: 40px; }

/* line 5, ../sass/components/_customer-reviews.scss */
.field--csd-creview {
  list-style: none;
  padding: 0 0 0 0;
  margin: 0 0 2.5em 0; }
  /* line 11, ../sass/components/_customer-reviews.scss */
  .field--csd-creview .field--title {
    font-size: 14px;
    line-height: 1em;
    margin: 0; }
  /* line 17, ../sass/components/_customer-reviews.scss */
  .field--csd-creview .field--csd-creview-author {
    margin: 0 0 .5em 0; }
  /* line 21, ../sass/components/_customer-reviews.scss */
  .field--csd-creview li {
    border-left: 4px solid #d8d8d8;
    padding: 0 0 0 1.5em;
    margin: 0 0 1em 0; }

/* line 2, ../sass/components/_mini-search-form.scss */
.mini-search-form {
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.41);
  padding: 0px 16px; }
  /* line 7, ../sass/components/_mini-search-form.scss */
  .mini-search-form input {
    border: none;
    margin: 0; }
  /* line 12, ../sass/components/_mini-search-form.scss */
  .mini-search-form .form-item.form-type-textfield {
    display: inline-block;
    margin: 0; }
  /* line 17, ../sass/components/_mini-search-form.scss */
  .mini-search-form .form-text {
    font-size: 13px;
    color: #86969F;
    background: transparent;
    line-height: 14px;
    outline: none;
    width: 12em;
    padding: 10px 0 9px; }
  /* line 27, ../sass/components/_mini-search-form.scss */
  .mini-search-form .form-submit {
    background: url(../images/search-btn.png) no-repeat center center;
    text-indent: -1000px;
    width: 20px;
    line-height: 30px;
    height: 30px;
    padding: 0;
    margin: -3px -4px 0 0; }

/* line 2, ../sass/components/_page-title.scss */
#page__title,
.page__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: #1C5C7C;
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 1em; }

/* line 7, ../sass/components/_pane.scss */
.pane .pane__title {
  font-size: 18px;
  font-weight: normal; }

/* line 5, ../sass/components/_products-list.scss */
.view-csd-products,
.view-csd-products.view-display-id-panel_pane_1,
.search-api-page-results .search-results {
  width: 980px;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 0;
  padding-right: 0; }
  /* line 14, ../sass/components/_products-list.scss */
  .view-csd-products .node--csd-product--teaser,
  .view-csd-products.view-display-id-panel_pane_1 .node--csd-product--teaser,
  .search-api-page-results .search-results .node--csd-product--teaser {
    width: 225px;
    float: left;
    margin-left: 10px;
    margin-right: 10px; }

/* line 5, ../sass/components/_products-mini-teaser-list.scss */
.view-csd-most-popular-products,
.view-csd-related-products {
  margin-right: 0px; }
  /* line 13, ../../../../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/toolkit-2.6.0/stylesheets/toolkit/_clearfix.scss */
  .view-csd-most-popular-products:after,
  .view-csd-related-products:after {
    content: "";
    display: table;
    clear: both; }
  /* line 10, ../sass/components/_products-mini-teaser-list.scss */
  .view-csd-most-popular-products ul,
  .view-csd-related-products ul {
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0; }
  /* line 16, ../sass/components/_products-mini-teaser-list.scss */
  .view-csd-most-popular-products li,
  .view-csd-related-products li {
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 21, ../sass/components/_products-mini-teaser-list.scss */
    .view-csd-most-popular-products li .node,
    .view-csd-related-products li .node {
      float: left;
      width: 167px;
      margin-right: 0px; }
  /* line 29, ../sass/components/_products-mini-teaser-list.scss */
  .view-csd-most-popular-products li:nth-child(6),
  .view-csd-related-products li:nth-child(6) {
    display: none; }

/* line 5, ../sass/components/_search-api-search-form.scss */
.search-api-page-search-form .form-item.form-type-textfield {
  display: inline-block;
  margin: 0; }

/* line 2, ../sass/components/_sharethis.scss */
.sharethis-wrapper * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 5, ../sass/components/_tagclouds.scss */
.wrapper.tagclouds,
.pane--tagclouds {
  margin-right: 1em; }

/* line 12, ../sass/components/_tagclouds.scss */
.tagclouds.level1 {
  font-weight: bold;
  font-size: 0.8em; }
/* line 13, ../sass/components/_tagclouds.scss */
.tagclouds.level2 {
  font-weight: bold;
  font-size: 0.85em; }
/* line 14, ../sass/components/_tagclouds.scss */
.tagclouds.level3 {
  font-weight: bold;
  font-size: 0.9em; }
/* line 15, ../sass/components/_tagclouds.scss */
.tagclouds.level4 {
  font-weight: bold;
  font-size: 0.95em; }
/* line 16, ../sass/components/_tagclouds.scss */
.tagclouds.level5 {
  font-weight: bold;
  font-size: 1.0em; }
/* line 17, ../sass/components/_tagclouds.scss */
.tagclouds.level6 {
  font-weight: bold;
  font-size: 1.05em; }
/* line 18, ../sass/components/_tagclouds.scss */
.tagclouds.level7 {
  font-weight: bold;
  font-size: 1.1em; }
/* line 19, ../sass/components/_tagclouds.scss */
.tagclouds.level8 {
  font-weight: bold;
  font-size: 1.15em; }
/* line 20, ../sass/components/_tagclouds.scss */
.tagclouds.level9 {
  font-weight: bold;
  font-size: 1.2em; }
/* line 21, ../sass/components/_tagclouds.scss */
.tagclouds.level10 {
  font-weight: bold;
  font-size: 1.25em; }

/**
 * This CSS file is generated by Follow module. DO NOT edit it directly.
 * Instead, copy the file to your theme's CSS directory and edit it there.
 */
/* line 64, follow-link/*.png */
.follow-link-sprite, .follow-link-facebook, .follow-link-pinterest, .follow-link-twitter {
  background-image: url('../images/generated/follow-link-s0288f0d5aa.png');
  background-repeat: no-repeat; }

/* line 84, ../../../../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.follow-link-facebook {
  background-position: 0 0; }

/* line 84, ../../../../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.follow-link-pinterest {
  background-position: 0 -36px; }

/* line 84, ../../../../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.follow-link-twitter {
  background-position: 0 -72px; }

/**
 * Small icon style.
 */
/* line 20, ../sass/components/follow.scss */
a.follow-link {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  padding: 0;
  margin-left: 6px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize; }

/* line 31, ../sass/components/follow.scss */
.follow-link-wrapper {
  float: left; }

/* line 39, ../sass/components/follow.scss */
.follow-link-googleplus {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-googleplus.png); }

/* line 43, ../sass/components/follow.scss */
.follow-link-myspace {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-myspace.png); }

/* line 47, ../sass/components/follow.scss */
.follow-link-virb {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-virb.png); }

/* line 51, ../sass/components/follow.scss */
.follow-link-bliptv {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-bliptv.png); }

/* line 55, ../sass/components/follow.scss */
.follow-link-lastfm {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-lastfm.png); }

/* line 59, ../sass/components/follow.scss */
.follow-link-youtube {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-youtube.png); }

/* line 67, ../sass/components/follow.scss */
.follow-link-picasa {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-picasa.png); }

/* line 71, ../sass/components/follow.scss */
.follow-link-flickr {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-flickr.png); }

/* line 75, ../sass/components/follow.scss */
.follow-link-vimeo {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-vimeo.png); }

/* line 79, ../sass/components/follow.scss */
.follow-link-linkedin {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-linkedin.png); }

/* line 83, ../sass/components/follow.scss */
.follow-link-delicious {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-delicious.png); }

/* line 87, ../sass/components/follow.scss */
.follow-link-tumblr {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-tumblr.png); }

/* line 91, ../sass/components/follow.scss */
.follow-link-this-site {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-feed.png); }

/* line 95, ../sass/components/follow.scss */
.follow-link-viadeo {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-viadeo.png); }

/* line 99, ../sass/components/follow.scss */
.follow-link-xing {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-xing.png); }

/* line 103, ../sass/components/follow.scss */
.follow-link-spiceworks {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-spiceworks.png); }

/* line 107, ../sass/components/follow.scss */
.follow-link-newsletter {
  background-image: url(/profiles/csdrupal_kickstart/modules/contrib/follow/icons/small/icon-newsletter.png); }

/* line 5, ../sass/components/nav/_breadcrumb.scss */
.breadcrumb {
  font-size: 14px;
  line-height: 17px;
  color: #353535;
  list-style: none;
  padding: 0;
  margin: 0 0 1em 0; }
  /* line 13, ../sass/components/nav/_breadcrumb.scss */
  .breadcrumb a {
    text-decoration: none;
    color: #353535; }
  /* line 17, ../sass/components/nav/_breadcrumb.scss */
  .breadcrumb a:hover {
    text-decoration: underline;
    color: #4FA4C8; }
  /* line 22, ../sass/components/nav/_breadcrumb.scss */
  .breadcrumb ul {
    padding: 0;
    margin-right: 0; }
  /* line 27, ../sass/components/nav/_breadcrumb.scss */
  .breadcrumb li {
    list-style: none;
    padding: 0;
    margin: 0 10px 0 0; }

/* line 5, ../sass/components/nav/_footer-nav.scss */
.footer-nav {
  text-align: right; }
  /* line 8, ../sass/components/nav/_footer-nav.scss */
  .footer-nav ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0; }
  /* line 15, ../sass/components/nav/_footer-nav.scss */
  .footer-nav li {
    font-size: 13px;
    list-style: none;
    display: inline;
    margin-right: .4em; }
  /* line 22, ../sass/components/nav/_footer-nav.scss */
  .footer-nav a {
    color: #282828;
    text-decoration: none; }
    /* line 26, ../sass/components/nav/_footer-nav.scss */
    .footer-nav a:hover {
      color: #4FA4C8;
      text-decoration: underline; }
    /* line 30, ../sass/components/nav/_footer-nav.scss */
    .footer-nav a.active, .footer-nav a.active-trail {
      color: #4FA4C8;
      text-decoration: underline; }

/* line 5, ../sass/components/nav/_main-nav.scss */
.main-nav {
  font-family: Oswald, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  background: #1E1E1E;
  height: 74px; }
  /* line 14, ../sass/components/nav/_main-nav.scss */
  .main-nav ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  /* line 20, ../sass/components/nav/_main-nav.scss */
  .main-nav li {
    display: inline;
    list-style: none !important;
    padding: 0;
    margin: 0; }
  /* line 28, ../sass/components/nav/_main-nav.scss */
  .main-nav li.level-1 {
    display: block;
    float: left;
    position: relative; }
    /* line 33, ../sass/components/nav/_main-nav.scss */
    .main-nav li.level-1 > a {
      line-height: 74px;
      color: #fff;
      text-decoration: none;
      border-left: 1px solid #555;
      display: block;
      padding-left: 15px;
      padding-right: 15px; }
    /* line 43, ../sass/components/nav/_main-nav.scss */
    .main-nav li.level-1 a.hover span,
    .main-nav li.level-1 a.active-trail span,
    .main-nav li.level-1 a.active span {
      border-bottom: 4px solid #1C5C7C; }
  /* line 51, ../sass/components/nav/_main-nav.scss */
  .main-nav li.level-1:last-child {
    border-right: 1px solid #555; }
  /* line 56, ../sass/components/nav/_main-nav.scss */
  .main-nav li.level-1 > ul {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    display: none;
    position: absolute;
    left: 0;
    z-index: 100;
    padding: 1.6em 1.8em;
    min-width: 14em;
    max-width: 20em; }
  /* line 72, ../sass/components/nav/_main-nav.scss */
  .main-nav li.level-2 > a {
    text-transform: none;
    text-decoration: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.3em;
    font-weight: normal;
    color: #4C4C4C;
    display: block;
    margin: 0 0 1em 0;
    padding: 0; }
  /* line 85, ../sass/components/nav/_main-nav.scss */
  .main-nav li.level-2:last-child a {
    margin-bottom: 0; }
  /* line 89, ../sass/components/nav/_main-nav.scss */
  .main-nav li.level-2 > a:hover {
    text-decoration: underline; }

/* line 8, ../sass/components/node-product/_node-product.scss */
.node--csd-product--teaser {
  position: relative;
  text-align: center;
  height: 390px;
  margin-bottom: 3em;
  padding-bottom: 7px; }

/* line 17, ../sass/components/node-product/_node-product.scss */
.node--csd-product--mini-teaser {
  position: relative;
  text-align: center;
  height: 220px;
  margin-bottom: 2em;
  padding-bottom: 7px; }

/* line 40, ../sass/components/node-product/_node-product.scss */
body.node-type-csd-product .pane--node-field-csd-creview .pane__title,
.node-csd-product-full .pane--node-field-csd-creview .pane__title {
  background: #E5EFF4;
  padding: 4px 24px;
  margin-bottom: 0; }
/* line 46, ../sass/components/node-product/_node-product.scss */
body.node-type-csd-product .pane--node-field-csd-creview .field--csd-creview,
.node-csd-product-full .pane--node-field-csd-creview .field--csd-creview {
  font-size: 13px;
  background: #F7F7F7;
  padding: 1em 24px; }
/* line 55, ../sass/components/node-product/_node-product.scss */
body.node-type-csd-product .pane--facebook-comments-facebook-comments .pane__title,
.node-csd-product-full .pane--facebook-comments-facebook-comments .pane__title {
  background: #E5EFF4;
  padding: 4px 1em;
  margin-bottom: 0; }
/* line 61, ../sass/components/node-product/_node-product.scss */
body.node-type-csd-product .pane--facebook-comments-facebook-comments .fb-comments,
.node-csd-product-full .pane--facebook-comments-facebook-comments .fb-comments {
  background: #F7F7F7;
  padding: 1em;
  width: 100%;
  overflow: hidden; }

/* line 8, ../sass/components/node-product/fields/_body.scss */
body.node-type-csd-product .pane--node-body .pane__title,
.node-csd-product-full .pane--node-body .pane__title {
  display: none; }

/* line 6, ../sass/components/node-product/fields/_btn-buy.scss */
.node--csd-product--teaser .pane--csdrupal-buy-btn-pane {
  position: absolute;
  bottom: 0;
  width: 100%; }

/* line 12, ../sass/components/node-product/fields/_btn-buy.scss */
.node--csd-product--mini-teaser .pane--csdrupal-buy-btn-pane {
  position: absolute;
  bottom: 0;
  width: 100%; }

/* line 22, ../sass/components/node-product/fields/_btn-buy.scss */
.node--csd-product--teaser .btn--buy {
  width: 100%; }

/* line 26, ../sass/components/node-product/fields/_btn-buy.scss */
body.node-type-csd-product .btn--buy,
.node-csd-product-full .btn--buy {
  background: #168F39;
  width: 100%;
  margin-bottom: 1em; }

/* line 10, ../sass/components/node-product/fields/_image.scss */
.node--csd-product--teaser .field--image, .node--csd-product--mini-teaser .field--image, body.node-type-csd-product .field--image,
.node-csd-product-full .field--image {
  margin: 0 0 1em 0; }
  /* line 13, ../sass/components/node-product/fields/_image.scss */
  .node--csd-product--teaser .field--image img, .node--csd-product--mini-teaser .field--image img, body.node-type-csd-product .field--image img,
  .node-csd-product-full .field--image img {
    width: 100%;
    height: auto;
    display: block; }

/* line 5, ../sass/components/node-product/fields/_price.scss */
.node--csd-product--teaser .field--csd-price2, .node--csd-product--mini-teaser .field--csd-price2, body.node-type-csd-product .field--csd-price2,
.node-csd-product-full .field--csd-price2 {
  font-weight: bold;
  color: #9F1E46; }

/* line 11, ../sass/components/node-product/fields/_price.scss */
.node--csd-product--teaser .field--csd-price2 {
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  top: 310px;
  width: 100%; }

/* line 19, ../sass/components/node-product/fields/_price.scss */
.node--csd-product--mini-teaser .field--csd-price2 {
  font-size: 15px !important;
  line-height: 18px !important; }

/* line 27, ../sass/components/node-product/fields/_price.scss */
body.node-type-csd-product .field--csd-price2,
.node-csd-product-full .field--csd-price2 {
  text-align: center;
  font-size: 29px;
  font-weight: normal;
  margin-top: 0.51724em;
  margin-bottom: 1.03448em; }

/* line 5, ../sass/components/node-product/fields/_sharethis.scss */
.node--csd-product--teaser .sharethis-wrapper {
  display: none; }

/* line 9, ../sass/components/node-product/fields/_sharethis.scss */
.node--csd-product--mini-teaser .sharethis-wrapper {
  display: none; }

/* line 5, ../sass/components/node-product/fields/_title.scss */
.node--csd-product--teaser .node__title, .node--csd-product--mini-teaser .node__title, body.node-type-csd-product .node__title,
.node-csd-product-full .node__title, body.node-type-csd-product .page__title,
.node-csd-product-full .page__title {
  font-size: 16px;
  font-weight: normal;
  color: #353535;
  line-height: 1.15em;
  margin-top: 0;
  margin-bottom: 1em; }
  /* line 15, ../sass/components/node-product/fields/_title.scss */
  .node--csd-product--teaser .node__title a, .node--csd-product--mini-teaser .node__title a, body.node-type-csd-product .node__title a,
  .node-csd-product-full .node__title a, body.node-type-csd-product .page__title a,
  .node-csd-product-full .page__title a {
    color: #353535;
    text-decoration: none; }

/* line 24, ../sass/components/node-product/fields/_title.scss */
.node--csd-product--mini-teaser .node__title {
  font-size: 13px !important; }

/* line 28, ../sass/components/node-product/fields/_title.scss */
body.node-type-csd-product .node__title,
.node-csd-product-full .node__title, body.node-type-csd-product .page__title,
.node-csd-product-full .page__title {
  text-transform: none;
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 0.6em; }

/* line 5, ../sass/layout/_footer.scss */
#footer-wrapper {
  clear: both;
  background: #E2EDF4; }

/* line 10, ../sass/layout/_footer.scss */
.footer {
  padding: 1em 0 4em;
  margin: 0 auto;
  width: 960px; }
  /* line 13, ../../../../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/toolkit-2.6.0/stylesheets/toolkit/_clearfix.scss */
  .footer:after {
    content: "";
    display: table;
    clear: both; }

/* line 5, ../sass/layout/_header.scss */
#top-wrapper {
  height: 125px;
  width: 960px;
  margin-left: auto;
  margin-right: auto; }

/* line 13, ../sass/layout/_header.scss */
.header {
  position: relative;
  margin: 0 auto;
  height: 90px;
  padding-top: 81px; }
  /* line 20, ../sass/layout/_header.scss */
  .header .pane--page-logo {
    position: absolute;
    top: 5px;
    z-index: 10;
    min-width: 182px;
    min-height: 56px;
    overflow: hidden;
    border: 2px dotted #E6E6E6; }
    /* line 31, ../sass/layout/_header.scss */
    .header .pane--page-logo img {
      max-height: 56px; }
  /* line 52, ../sass/layout/_header.scss */
  .header .follow-links {
    float: right; }
  /* line 59, ../sass/layout/_header.scss */
  .header .mini-search-form {
    float: right; }
  /* line 66, ../sass/layout/_header.scss */
  .header .main-nav {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%; }
    /* line 72, ../sass/layout/_header.scss */
    .header .main-nav > .menu {
      width: 960px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 200px; }

/* line 5, ../sass/layout/_layout.scss */
body {
  background: url("../images/bg.png") repeat-x; }

/* line 9, ../sass/layout/_layout.scss */
.l-page {
  position: relative; }

/* line 14, ../sass/layout/_layout.scss */
.main {
  padding: 2em 0px 4em 0px;
  margin: 0 auto;
  width: 960px; }
  /* line 13, ../../../../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/toolkit-2.6.0/stylesheets/toolkit/_clearfix.scss */
  .main:after {
    content: "";
    display: table;
    clear: both; }

/* line 22, ../sass/layout/_layout.scss */
.content {
  min-height: 300px; }

/* line 5, ../sass/layout/_product-layout.scss */
body.node-type-csd-product .cs-basic-region__first {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 55%;
  padding-right: 2%;
  float: left; }

/* line 14, ../sass/layout/_product-layout.scss */
body.node-type-csd-product .cs-basic-region__second {
  width: 45%;
  float: left; }
  /* line 19, ../sass/layout/_product-layout.scss */
  body.node-type-csd-product .cs-basic-region__second .pane--page-breadcrumb {
    text-align: center; }

/* line 26, ../sass/csthemethree.styles.scss */
html {
  box-sizing: border-box; }

/* line 29, ../sass/csthemethree.styles.scss */
*, *:before, *:after {
  box-sizing: inherit; }

/*# sourceMappingURL=csthemethree.styles.css.map */
