//
// Grid variables
// 

$grids: 16; //15;
$gutters: 16px; // 1em; // 16px; // 1/4.25; // 0.5%; // 1/3; // 16px; //1/5;
$gutters-px: 16px;
$gutter-styles: 'fixed';

$mobile: 400px;
$desktop: 700px;

