//
// Product Price
//

%node-product-price {
	// font-family: $font-family-alt;
	font-weight: bold;
	color: #9F1E46;
}

%node-product-teaser-price {
	font-size: 16px;
	line-height: 20px;
	position: absolute;
	top: 310px;
	width: 100%;
}

%node-product-mini-teaser-price {
	font-size: 15px !important;
	line-height: 18px !important;
	// position: absolute;
	// bottom: 0px;
	// width: 100%;
}

%node-product-full-price {
	text-align: center;
	font-size: 29px;
	font-weight: normal;
	margin-top: em-calc($em-base, 29px);
	margin-bottom: em-calc($em-base * 2, 29px);
}
