//
// Title
//

%node-product-title {
	// text-transform: uppercase;
	// font-family: $font-family-alt;
	font-size: 16px;
	font-weight: normal;
	color: $text-color;
	line-height: 1.15em;
	margin-top: 0;
	margin-bottom: 1em;

	a {
		color: $text-color;
		text-decoration: none;
	}
}

%node-product-teaser-title {
}

%node-product-mini-teaser-title {
	font-size: 13px !important;
}

%node-product-full-title {
	text-transform: none;
	text-align: center;
	font-size: 25px;
	font-weight: normal;
	margin-bottom: em-calc($em-base, 25px);
}
