//
// Btn
//

.btn {
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	// border-radius: 6px;
	background: $btn-default-bg;
	//font-family: $font-family-alt;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	color: $btn-default-color;
	line-height: 32px;
	padding: 1px 20px 0px;

	&:hover {
		text-decoration: none;
		background-color: darken(#4FA4C8, 10%);
	}
}

.btn--large {
	font-size: 18px;
	line-height: 52px;
	padding-left: 40px;
	padding-right: 40px;
}
