
.mini-search-form {
	border-radius: 2px;
	background: rgba(255, 255, 255, .41);
	padding: 0px 16px;

	input {
		border: none;
		margin: 0;
	}

	.form-item.form-type-textfield {
		display: inline-block;
		margin: 0;
	}

	.form-text {
		font-size: 13px;
		color: #86969F;
		background: transparent;
		line-height: 14px;
		outline: none;
		width: 12em;
		padding: 10px 0 9px;
	}

	.form-submit {
		background: url(../images/search-btn.png) no-repeat center center;
		// background: #DFDFDF;
		text-indent: -1000px;
		width: 20px;
		line-height: 30px;
		height: 30px;
		padding: 0;
		margin: -3px -4px 0 0;
	}
}
