
#page__title,
.page__title {
  text-transform: uppercase;
  // font-family: $font-family-alt;
  font-size: 24px;
  font-weight: bold;
  color: #1C5C7C;
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 1em;
}
