//
// Products list
//

.view-csd-products,
.view-csd-products.view-display-id-panel_pane_1,
.search-api-page-results .search-results {
	width: $page-width + 10px + 10px;
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 0;
	padding-right: 0;

	.node--csd-product--teaser {
		width: ($page-width + 10px + 10px) / 4 - 10px - 10px;
		float: left;
		margin-left: 10px;
		margin-right: 10px;
		// border-bottom: 2px solid #D8D8D8;
	}
}
