//
// Btn
//

.btn {
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	background: $btn-default-bg;
	// border-radius: 4px;

	font-family: $font-family-alt;
	font-size: 13px;
	font-weight: normal;
	color: $btn-default-color;
	line-height: 30px;
	padding: 1px 20px 0px;

	&:hover {
		text-decoration: none;
		background-color: darken($btn-default-bg, 10%);
	}
}

.btn--large {
	font-size: 16px;
	line-height: 38px;
	padding-left: 40px;
	padding-right: 40px;
}
