//
// Customer review field
//

.field--csd-creview {
	list-style: none;
	padding: 0 0 3em 0;
	margin: 0 0 2.5em 0;
	color: #5E5E5E;
	// border-left: 4px solid #D8D8D8;
	font-size: 13px;

	.field--title {
		font-size: 14px;
		font-weight: bold;
		line-height: 1em;
		margin: 0 0 .4em 0;
	}

	.field--csd-creview-author {
		color: $link-color;
		margin: 0 0 .5em 0;
	}

	p {
		margin-top: 0;
		margin-bottom: .4em;
	}

	li {
		border-left: 4px solid #d8d8d8;
		padding: 0 0 0 1.5em;
		margin: 0 0 1em 0;
	}
}
