
#page__title,
.page__title {
  // text-transform: uppercase;
  // font-family: $font-family-alt;
  // font-size: 34px;
  // font-weight: normal;
  // color: #115AB9;
  text-align: center;
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 1em;
}
