//
// Pane
//

.pane {
	
	.pane__title {

		text-transform: uppercase;
		text-align: center;
		// text-decoration: underline;
		font-family: $font-family-alt;
		font-weight: normal;
		font-size: 20px;
		line-height: 26px;
		// color: #115AB9;
	}
}