//
// Product Btn Buy 
//

// Wrapper
%node-product-teaser-btn-buy-wrapper {
	display: none;
}

%node-product-full-btn-buy-wrapper {
	@include box-sizing(border-box);
	text-align: right;
	background: #F2F2F2;
	min-height: 92px;
	max-height: 92px;
	padding: 23px 20px 0 5px;
	float: left;
	width: 40%;
}

// Field
%node-product-btn-buy {
}

%node-product-teaser-btn-buy {
}

%node-product-full-btn-buy {
	@extend .btn--large;
}
