//
// Product Price
//

%node-product-price {
	// font-family: $font-family-alt;
	font-weight: bold;
	font-style: italic;
	color: #115AB9;
/* $49.99: */
}

%node-product-teaser-price {
	font-size: 26px;
	line-height: 20px;
	position: absolute;
	top: 290px;
	width: 100%;
	margin-left: -20px;
	margin-right: -20px;
}

%node-product-mini-teaser-price {
	text-align: center !important;
	background: none !important;
	font-size: 20px !important;
	line-height: 22px !important;
	width: 100% !important;
	float: none !important;
	padding: 0 !important;
	// position: absolute;
	// bottom: 0px;
	// width: 100%;
}

%node-product-full-price {
	@include box-sizing(border-box);
	// text-align: center;
	font-size: 26px;
	line-height: 28px;
	min-height: 92px;
	max-height: 92px;
	background: #F2F2F2;
	// margin-top: em-calc($em-base, 30px);
	// margin-bottom: em-calc($em-base * 2, 30px);
	margin: 0 0 1em 0;
	padding: 33px 10px 5px 15px;
	float: left;
	width: 60%;
}
