//
// Sharethis
//

%node-product-teaser-sharethis-wrapper {
	display: none;
}

%node-product-mini-teaser-sharethis-wrapper {
	display: none;
}

%node-product-full-sharethis-wrapper {
	clear: both;
}
