//
// Title
//

%node-product-title {
	// text-transform: uppercase;
	// font-family: $font-family-alt;
	font-size: 14px;
	font-weight: bold;
	color: $text-color;
	line-height: 1.15em;
	margin-top: 0;
	margin-bottom: 1em;

	a {
		color: $text-color;
		text-decoration: none;
	}
}

%node-product-teaser-title {
}

%node-product-mini-teaser-title {
	font-size: 14px !important;
	margin-bottom: 1.4em;
}

%node-product-full-title {
	font-size: 19px;
	font-weight: bold;
	color: #115AB9;
	margin-bottom: em-calc($em-base, 19px);
}
