//
// Typography
// 

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

body {
  color: $text-color;
  font-weight: normal;
  font-size: $font-size-base;
  font-family: $font-family-base;
  line-height: $line-height-base;
  //-webkit-font-smoothing: subpixel-antialiased;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  text-transform: uppercase;
  font-family: $font-family-alt;
  font-size: $font-size-h1;
  font-weight: $headings-font-weight; 
  line-height: $headings-line-height;
}

h2 {
  font-size: $font-size-h2;
  font-weight: $headings-font-weight; 
  line-height: $headings-line-height;
}

strong {
  //font-weight: 600;
}
