//
// Product
//

%node-product {
}

%node-product-teaser {
	position: relative;
	text-align: center;
	height: 380px;
	margin-bottom: 3em;
	padding-bottom: 7px;

}

%node-product-mini-teaser {
	position: relative;
	text-align: center;
	height: 300px;
	margin-bottom: 4em;
	padding-bottom: 7px;
}

%node-product-full {

	.panel-col-middle + .center-wrapper,
	.pane--csd-related-products,
	.pane--csd-most-popular-products-pane-1 {
		border-top: 1px solid #ADADAD;
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}	
}
