//
// Footer Nav
//

.footer-nav {
	text-align: right;

	ul {
		display: inline-block;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		// font-size: 13px;
		list-style: none;
		display: inline;
		margin-left: .6em;
	}

	a {
		color: #7E7E7E;
		text-decoration: none;
		
		&:hover {
			color: $link-color;
			text-decoration: underline;
		}
		&.active,
		&.active-trail {
			color: $link-color;
			text-decoration: underline;
		}
	}
}
