// 
// Navigation
//

.main-nav {
	// font-family: $font-family-alt;
	font-size: 13px;
	font-weight: bold;
	// text-transform: uppercase;
	background: url(../images/main-nav.png) repeat-x;	
	border-radius: 2px;
	border: 1px solid #C8D3E2;
	height: 60px;

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	li {
		display: inline;
		list-style: none !important;
		padding: 0;
		margin: 0;
	}

	li.level-1 {
		display: block;
		float: left;
		position: relative;

		& > a {
			line-height: 59px;
			color: #434343;
			text-decoration: none;
			// border-left: 1px solid #555;
			display: block;
			padding-left: 10px;
			padding-right: 10px;
		}

		&.hover > a,
		& > a.active-trail,
		& > a.active {
			color: #fff !important;
			background: #115AB9;
		}
	}

	// level-1 container
	li.level-1 > ul {
		background: #FFFFFF;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.24);		
		display: none;
		position: absolute;
		// float: left;
		left: 0;
		z-index: 100;
		padding: 0 1.4em;
		min-width: 14em;
		max-width: 20em;
	}

	// level-2
	li.level-2 {

		& > a {
			text-transform: none;	
			text-decoration: none;
			line-height: 1.3em;
			font-weight: bold;
			color: #4C4C4C;
			border-bottom: 1px solid #D8D8D8;
			display: block;
			margin: 0 -1.4em;
			padding: 1em 1.4em;
		}

		&:last-child a {
			margin-bottom: 0;
		}

		& > a:hover {
			text-decoration: underline;
		}	
	}
}