
.mini-search-form {
	//border-radius: 4px;
	//background: #115AB9;
	//padding: 5px 7px;
	//height: 44px;
	border-bottom: 1px solid #484848;
	
	input {
		border: none;
		margin: 0;
	}

	.form-item.form-type-textfield {
		display: inline-block;
		margin: 0;
	}

	.form-text {
		font-size: 14px;
		background: transparent;
		color: #828282;
		line-height: 16px;
		outline: none;
		width: 12em;
		padding-top: 9px;
		padding-bottom: 9px;
		margin: 0;
	}

	.form-submit {
		background: url(../images/icon-search.png) no-repeat center center;
		// background: #DFDFDF;
		text-indent: -1000px;
		width: 40px;
		line-height: 30px;
		height: 30px;
		padding: 0;
		margin: 0;
	}
}
