//
// Btn
//

.btn {
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	border-radius: 6px;
	background: #4FA4C8;
	font-family: $font-family-alt;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	color: #FFFFFF;
	line-height: 30px;
	padding: 1px 20px 0px;

	&:hover {
		text-decoration: none;
		background-color: darken(#4FA4C8, 10%);
	}
}

.btn--large {
	font-size: 18px;
	line-height: 42px;
	padding-left: 40px;
	padding-right: 40px;
}
