
.mini-search-form {
	border-radius: 6px;
	/* Rectangle 66: */
	background: #DFDFDF;
	background-image: -o-linear-gradient(-89deg, rgba(255,255,255,0.64) 0%, rgba(255,255,255,0.40) 100%);
	background-image: -moz-linear-gradient(-89deg, rgba(255,255,255,0.64) 0%, rgba(255,255,255,0.40) 100%);
	background-image: -ms-linear-gradient(-89deg, rgba(255,255,255,0.64) 0%, rgba(255,255,255,0.40) 100%);
	background-image: linear-gradient(-179deg, rgba(255,255,255,0.64) 0%, rgba(255,255,255,0.40) 100%);
	padding: 0px 16px;

	input {
		border: none;
		margin: 0;
	}

	.form-item.form-type-textfield {
		display: inline-block;
		margin: 0;
	}

	.form-text {
		font-size: 13px;
		color: #333;
		background: transparent;
		line-height: 14px;
		outline: none;
		width: 12em;
		padding: 9px 0 8px;
	}

	.form-submit {
		background: url(../images/search-btn.png) no-repeat center center;
		text-indent: -1000px;
		width: 20px;
		line-height: 30px;
		height: 30px;
		padding: 0;
		margin: -3px -4px 0 0;
	}
}
