//
// Pager
//

.pager {
	text-transform: uppercase;
	font-family: $font-family-alt;
	font-weight: 300;

	a {
		color: #000;
	}
	a:hover {
		color: $link-color;
	}
	.pager__item--current {
		font-weight: 300;	
		color: $link-color;
	}
}
