//
// Products list
//

.view-csd-products,
.view-csd-products.view-display-id-panel_pane_1,
.search-api-page-results .search-results {
	width: 899px + 16px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;

	.node--csd-product--teaser {
		width: (915px / 4) - 16px;
		float: left;
		margin-left: 8px;
		margin-right: 8px;
		// border-bottom: 2px solid #D8D8D8;
	}
}
