//
// Products mini teaser list
//

.view-csd-most-popular-products,
.view-csd-related-products {
	@include clearfix;
	margin-right: -16px;

	ul {
		list-style: none;
		margin: 0 0 1em 0;
		padding: 0;
	}

	li {
		list-style: none;
		margin: 0;
		padding: 0;

		.node {
			float: left;
			width: 167px;
			// height: 200px;
			margin-right: 16px;
		}
	}

	li:nth-child(6) {
		display: none;
	}
}
