//
// Product Btn Buy 
//

// Wrapper
%node-product-teaser-btn-buy-wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
}

%node-product-mini-teaser-btn-buy-wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
}

// Field
%node-product-btn-buy {
}

%node-product-full-btn-buy {
	@extend .btn--large;
	margin-bottom: 1.5em;
}
