//
// Product Price
//

%node-product-price {
	font-family: $font-family-alt;
	font-weight: 300;
}

%node-product-teaser-price {
	font-size: 16px;
	line-height: 20px;
	position: absolute;
	top: 294px;
	width: 100%;
}

%node-product-mini-teaser-price {
	font-size: 15px !important;
	line-height: 18px !important;
}

%node-product-full-price {
	font-size: 32px;
}
