//
// Title
//

%node-product-title {
	text-transform: uppercase;
	font-family: $font-family-alt;
	font-size: 14px;
	font-weight: normal;
	color: $text-color;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 1em;

	a {
		color: $text-color;
		text-decoration: none;
	}
}

%node-product-teaser-title {
}

%node-product-mini-teaser-title {
	font-size: 13px !important;
}

%node-product-full-title {
	font-size: 32px;
	line-height: 1.4em;
	font-weight: 400;
	margin-bottom: .5em;
}
