//
// Products list
//

.view-csd-products,
.view-csd-products.view-display-id-panel_pane_1,
.search-api-page-results .search-results {
	// width: $page-width;
	margin-left: -30px;
	margin-right: -60px;
	// padding: 0;
	// border-top: 1px solid #D8D8D8;

	.view-content {
		@include clearfix();
	}

	.node--csd-product--teaser {
		@include box-sizing(border-box);
		background: url(../images/product-teaser.png) no-repeat center bottom;
		// width: 33.33%;
		width: 305px;
		float: left;
		margin-bottom: 2em;
		padding: 1em 40px;
	}
}
