//
// Products mini teaser list
//

.view-csd-most-popular-products,
.view-csd-related-products {
	@include clearfix;
	// margin-right: -$main-padding-right;
	width: $page-width;
	margin-left: -20px;
	margin-right: -20px;
	padding: 0;
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;

	ul {
		list-style: none;
		margin: 0px 0 1em 0;
		padding: 1px 0 0 0;
	}

	li {
		list-style: none;
		margin: 0;
		padding: 0;

		.node {
			width: 20%;
			float: left;
			padding: 1em 20px;
			border-right: 1px solid #D8D8D8;
			margin-bottom: 0;
		}
	}

	li:nth-child(6) {
		display: none;
	}
}
